.label {
    -fx-text-fill: blue;
}

.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-max-width: 200px;
}

.tab:selected {
    -fx-background-color: -fx-focus-color;
}

.button {
    -fx-pref-width: 200px;
    -fx-padding: 8px 16px;
    -fx-max-width: 200px;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-padding: 8px 16px;
}

.pane {
    -fx-background-color: white;
}
